<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant</title>
    <!-- <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
    <link rel="stylesheet" href="/css/styles.css"> -->
    <!--Import materialize.css-->

    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src='javascripts/jquery.js'></script>
    <script type="text/javascript" src="javascripts/materialize.js"></script>
    <script type="text/javascript" src='javascripts/scripts.js'></script>
  </head>
  <body>
   <div class="container">
     <div class="row">

       <nav>
         <div class="nav-wrapper">
           <a href="/" class="brand-logo center">Gadoe's</a>
           <ul id="nav-mobile" class="left hide-on-med-and-down">
             <li><a href="/dishes">Menu</a></li>
             <li><a href="/item_orders/new">Add New Order</a></li>
           </ul>
         </div>
       </nav>
    </div>



    <%= yield %>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
       <a class="btn-floating btn-large red">
         <i class="large material-icons">mode_edit</i>
       </a>
       <ul>
         <li><a href="/parties/new"class="btn-floating yellow darken-1"><i class="material-icons">playlist_add</i></a></li>
         <li><a href="/" class="btn-floating green"><i class="material-icons">list</i></a></li>
         <li><a href="/item_orders" class="btn-floating blue"><i class="material-icons">info_outline</i></a></li>
       </ul>
     </div>
  </div>

  </body>
</html>
