body {
  background-color: white;
  font-family: sans-serif;
  color: #80cbc4;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 5em;
  color: lightgreen;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

ul {
  list-style: none;
  font-size: 1.5em;
}


input {
  color: black;
}

.button {

  color: white;
  background-color: lightblue;
}

.form {
  background-color: white;
  color: black;
}

.container {
  margin: auto;
  align=center;
}
