<h3>New Table!</h3>


<form  class="form" action="/parties" method="post">
  <input type="text" name="party[number_of_people]" placeholder="..# of people">
  <input type="text" name="party[special_request]" placeholder="..special request?">
  <input type="text" name="party[has_paid]" placeholder="..paid?">
  <input type="text" name="party[stand_number]" placeholder="..table_number">
  <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons"></i>
    </button>
</form>
