<h4>Welcome to the Restaurant</h4>
<p>
  Here are our dishes
</p>

<div class="collection">
  <% @dishes.each do |dish| %>
  <a href="/dishes/<%= dish.id %>/edit" class="collection-item"><%= dish.name %> - <%= dish.price %></a>
  <% end %>
</div>



<div class="row">
 <a href="/dishes/new" class="waves-effect waves-light btn"><i class="material-icons left"></i>Add New Dish</a>
</div>
