<h3>New Dish</h3>

<form class="form" action="/dishes" method="post">
  <input type="text" name="dish[name]" placeholder="...name">
  <input type="text" name="dish[price]" placeholder="...price">
  <button class="btn-large waves-effect waves-light" type="submit" name="action">
      <i class="material-icons">send</i>
    </button>
</form>
