<h3>New Dish</h3>

<form class="form" action="/dishes" method="post">
  <input type="text" name="dish[name]" placeholder="...name">
  <input type="text" name="dish[price]" placeholder="...price">
  <input type="submit" value="New Dish">
</form>
